<div class="container">
    <h1 class="text-center mb-4 bg-secondary p-4 text-white fw-bold border-5 mt-5">SEARCH CUSTOMER</h1>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="search Customer ID" aria-label="searchCustomer"  aria-describedby="basic-addon1" [(ngModel)]="customerId">
        <button class="btn btn-secondary" (click)="searchCustomerById()">Search </button>
    </div>
</div>
