
<div class="container">
    <h1 class="text-center mb-4 bg-success p-4 text-white fw-bold border-5 mt-5">VIEW ALL CUSTOMERS</h1>
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr id="colnames">
                    <th>Count</th>
                    <th>Id</th>
                    <th>name</th>
                    <th>city</th>
                    <th>contact</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customerList;index as i" >
                    <td>{{i + 1}}</td>
                    <td>{{customer.id}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.city}}</td>
                    <td>{{customer.contact}}</td>

                </tr>
            </tbody>
        </table>
    </div>

    
</div>